/*.field{
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 70px;
}*/

/* HistoryItem.css */

.field {
  padding: 0.75rem 1rem;
  background: linear-gradient(90deg, #1E1E1E 0%, rgba(30, 30, 30, 0.5) 100%);
  border-radius: 1.5rem;
  border: 0px solid #e5e7eb;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);*/
  margin-bottom: 0.65rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  margin-top: 0.75rem;
}

.ArrowUpRight{
  border-radius: 1.25rem;
  background-color: #3E3E3E;
  padding: 0.5rem 0.75rem;
  margin-right: 1rem;
  color: white;
}

.field:hover {
  background: linear-gradient(90deg, rgba(62, 62, 62, 0.25) 0%, #3E3E3E 100%);
  transition: 1s;
}

.cursor-pointer {
  cursor: pointer;
}

.field p {
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.field p:first-child {
  font-weight: 500;
  color: white; /* темно-серый для оригинального текста */
}

.field p:last-child {
  font-style: italic;
  color: white; /* зеленый для упрощенного текста */
  opacity: 0.5;
  padding-top: 0.25rem;
}
