/*.You{
    text-align: right;

}

.You_response{
    margin: 0;
    background-color: aquamarine;
    padding: 25px;
    border-radius: 50px;
    flex: 1;
}

.model{
    border-radius: 50px;
}*/

/* ChatDetail.css */

.p-4 {
  padding-top: 1rem;
  /*padding-bottom: 1rem;*/
  max-height: 72.5vh;
  overflow-y: scroll;
  
}

/*.border {
  border: 1px solid #e5e7eb;
}*/

.rounded-md {
  border-radius: 1.5rem;
}

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.bg-white {
  background: none;
}

.You,
.model {
  max-width: 80%;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 1.5rem;
  line-height: 1.6;
  font-size: 1rem;
}

.You {
  
  background:linear-gradient(270deg, rgba(62, 62, 62, 0.25) 0%, #3E3E3E 100%);/*linear-gradient(270deg, #9BFFAB 0%, #C7BEFF 14.42%, #3E3E3E 51.92%); /* светло-синий фон для пользователя */
  margin-left: auto;
  margin-right: 0;
  text-align: left;
  color: white;
}

.model {
  
  background: linear-gradient(270deg, rgba(62, 62, 62, 0.25) 0%, #3E3E3E 100%); /* светло-серый фон для модели */
  margin-left: 0;
  margin-right: auto;
  text-align: left;
  color: white;
}

.text-lg {
  font-family: loos;
  font-size: 1.125rem;
}

.font-bold {
  font-weight: 700;
}

.text-gray-700 {
  color: #374151;
}

.text-green-700 {
  color: #047857;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.You_response {
  white-space: pre-wrap;
  word-wrap: break-word;
}
