.avatar-wrapper {
    position: relative;
    cursor: pointer;
  }
  
  .user-avatar {
    background-color: #3E3E3E;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 2rem;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .user-avatar:hover{
    background-color: black;
    transition: 1s;
  }
  
  .dropdown-menu {
    position: absolute;
    right: 0;
    top: 40px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 1rem;
    min-width: 150px;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    z-index: 1000;
  }

  #loginbutton{
    font-size: 1rem;
    padding: 0.7rem 1rem;
    background-color: white;
    color: black;
  }

  #loginbutton:hover{
    background-color: #9ca3af;
    transition: 1s;
  }
  
  .dropdown-username {
    margin: 0 0 10px;
    font-weight: normal;
    font-size: 1.125rem;
  }
  
  .dropdown-logout {
    background: black;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 0.75rem;
    cursor: pointer;
    width: 100%;
  }
  